@CHARSET "UTF-8";
body{color: blue;background-color:#000000;height:100%;color:#ffffff;min-width:1000px;overflow-x: hidden;}
.mainleft{float:left;height:100%;width:5%;position: relative;}
.mainleft1{float:left;height:100%;width:99%;position: relative;border-right:1px solid  #ffffff;}
.mainright{float:right;height:100%;width:95%;position: relative;}
.mainrightTop{height:50px;width:100%;margin: 0;color:#ffffff;border-bottom:1px solid #ffffff;}
.mainrightTop1{cursor:pointer;float:left;text-align:center;height:30px;width:70px;border-top:1px solid #ffffff;border-right:1px solid #ffffff;margin: 0;color:#ffffff;margin-top:14px;padding-top:5px;}
.mainrightTop2{cursor:pointer;float:left;text-align:center;height:30px;width:70px;border-top:1px solid #ffffff;border-right:1px solid #ffffff;margin: 0;color:#ffffff;margin-top:14px;padding-top:5px;}
.mainrightTop3{cursor:pointer;float:left;text-align:center;height:30px;width:70px;border-top:1px solid #ffffff;border-right:1px solid #ffffff;margin: 0;color:#ffffff;margin-top:14px;padding-top:5px;}
.mainrightZhiBiao{float:left;height:25px;width:100%;margin-top: 0px;border-bottom:1px solid #ffffff;border-right:1px solid #ffffff;}
.mainrightZhiBiaoHead{float:left;height:25px;width:100%;margin-top: 0px;border-bottom:1px solid #ffffff;border-right:1px solid #ffffff;}
.mainrightZhiBiaoNameW{float:left;height:25px;width:100px;text-align:center;margin-top: 0px;color:#ffffff;}
.mainrightZhiBiaoNameY{float:left;height:25px;width:100px;text-align:center;margin-top: 0px;color:#E4DE15;}
.mainrightZhiBiao1{float:left;height:25px;width:90px;text-align:center;margin-top: 0px;color:#E4DE15;}
.mainrightZhiBiao2{float:left;height:25px;width:90px;text-align:center;margin-top: 0px;color:#ffffff;}
.mainrightMain{float:left;height:500px;overflow-y:auto;overflow-x: hidden;width:100%;border-bottom:1px solid #ffffff;}
.mainrightMainLeft{float:left;height:500px;width:50%;}
.mainrightMainRight{float:left;height:500px;width:50%;}
.mainrightMainChart{float:left;height:25px;width:100%;margin-top: 0px;border-bottom:1px solid #ffffff;text-align:center;color:#bfad21;}
.mainrightBottomNav{float:left;height:50px;width:100%;margin-top: 0px;border-bottom:1px solid #ffffff;}
.mainrightBottomNav1{cursor:pointer;float:left;text-align:center;height:30px;width:150px;border-top:1px solid #ffffff;border-right:1px solid #ffffff;margin: 0;color:#ffffff;margin-top:14px;padding-top:5px;}
.mainrightBottomNav2{cursor:pointer;float:left;text-align:center;height:30px;width:150px;border-top:1px solid #ffffff;border-right:1px solid #ffffff;margin: 0;color:#ffffff;margin-top:14px;padding-top:5px;}
.mainrightBottomNav3{cursor:pointer;float:left;text-align:center;height:30px;width:150px;border-top:1px solid #ffffff;border-right:1px solid #ffffff;margin: 0;color:#ffffff;margin-top:14px;padding-top:5px;}
.mainrightBottomNews{float:left;height:auto;width:100%;margin-top: 10px;}
.mainrightBottom{float:left;height:auto;width:100%;margin-top: 600px;border-top:1px solid #ffffff;}
/*鼠标移动上方时变色*/
.mainrightZhiBiao:hover{
  background-color: #4B306C;cursor:pointer;
}
#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #000000;
}


